<%= render 'shared/header' %>

<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>

<%= javascript_include_tag 'jquery/jquery'  %>
<%= javascript_include_tag 'jquery/jquery.form' %>

<script>
  var project_id = <%= @project.id %>;
</script>

<div class="content">
<h1>Audio Gallery</h1>



<form id="fileUploadForm" method="post"
                          action="/projects/<%= @project.id %>/audio_gallery/uploadFile"
                          enctype="multipart/form-data">
Folder: <select name="folder">
  <% @directories.each do |directory| %>
     <option value="<%= directory  %>"><%= directory %></option>
  <% end %>
   </select>
<br />
 File: <input id="fileUpload" name="uploadedFile"  type="file" /> <br />
   <input id="fileUploadSubmit" type="submit" value="Upload" />
   <input type="hidden" name="authenticity_token" id="authenticity_token" value="<%= form_authenticity_token %>" />
</form>



</div>