<div id="control">
<h5> Editor Navigation</h5>

<%= link_to "Logout", logout_path, :class => 'editor_link'  %> <br />
<%= link_to "Create new Project", new_project_path, :class => 'editor_link' %> <br />
<%= link_to "Project overview", projects_path, :class => 'editor_link' %> <br />
<%= link_to "Profil", profile_path, :class => 'editor_link' %> <br />
<br />
<br />

<h5> Projekt options </h5>

<% unless @project.nil? or @project.new_record? %>

<%= link_to "Project home", project_path(@project.id), :class => 'editor_link' %> <br />
<%= link_to "Image Gallery", project_image_gallery_path(@project.id), :class => 'editor_link' %> <br />
<%= link_to "Audio Gallery", project_audio_gallery_path(@project.id), :class => 'editor_link' %> <br />
<%= link_to "Edit game.xml", project_xmleditor_path(@project.id), :class => 'editor_link' %> <br />

<% end %>
</div>