<%= javascript_include_tag 'jquery/jquery.jstree' %>
<%= javascript_include_tag 'shared/mission_list' %>
<%= javascript_include_tag 'shared/fold_in' %>

<%= javascript_include_tag "commands/command" %>
<%= javascript_include_tag "commands/missions" %>

<div id="navigation">
  <h5> Mission Navigation </h5>



  <% unless @project.nil? or @project.new_record? %>

  <div id="missionTree" class="title-as-tooltip" title="Click on a mission to edit it.<br />Use the contextmenu to delete, rename or add new missions.">
   </div>

  <% else %>

  No project selected

  <% end %>



  <img id="leftFoldIn" src="/images/BlueArrowLeft.gif" />
</div>
