<%= render 'shared/header' %>

<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>

<%= javascript_include_tag 'jquery-1.5.2'  %>
<%= javascript_include_tag 'jquery.form' %>

<div class="content">
<h1>Image Gallery</h1>

<!--
<script type="text/javascript">
$(document).ready(function() { 
   var options = {

   };

   $('#fileUploadForm').submit(function() {
        $(this).ajaxSubmit(options);
        return false;
    });

});
</script>
-->

<form id="fileUploadForm" method="post"
                          action="/projects/<%= @project.id %>/uploadFile"
                          enctype="multipart/form-data">
   File upload: <input id="fileUpload" name="uploadedFile"  type="file" /> <br />
   <input id="fileUploadSubmit" type="submit" value="Upload" />
   <input type="hidden" name="authenticity_token" id="authenticity_token" value="<%= form_authenticity_token %>" />
</form>



</div>