<%= javascript_include_tag 'jquery/jquery'  %>

<script>
  var project_id = "<%= @project.id %>";

  function deployGame() {

    var my_url = "/projects/" + project_id + "/deploy";
    $.ajax({
     url: my_url,
     success: function() {
       $("#messageField").addClass("success");
       $("#messageField").removeClass("failure");
       $("#messageField").text("Deployment was successful");
     },
     error: function() {
       $("#messageField").addClass("failure");
       $("#messageField").removeClass("success");
       $("#messageField").text("Deployment failed");
     }
   });

  }


</script>

<%= render 'shared/header' %>

<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>

<div class="content">
<p id="messageField"></p>

<input type="button" value="Deploy into repository" onclick="deployGame()" />

</div>
