<%= stylesheet_link_tag 'repository'  %>
<div class="repository">
  <h3>Repository of <%= @repo_user.name %> </h3>

Deployed Games:

<ul>
  <% @deployed_projects.each do |project| %>
  <li> <a href="/repository/<%= @repo_user.name %>/games/<%= project.id %>.zip"><%=  project.name %></a> </li>
  <% end %>

</ul>

<br />

For Android devices there is also an <a href="/repository/<%= @repo_user.name %>/gamelist.php">gamelist.php</a>

</div>