<script type="text/javascript">
var mission_id = "<%= @mission.attributes['id'] %>";
var project_id = "<%= @project.id %>";
</script>

<%= render 'shared/header' %>
<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>

<%= javascript_include_tag 'commands/command' %>
<%= javascript_include_tag 'commands/common' %>
<%= javascript_include_tag 'jquery/jquery.ui' %>
<%= javascript_include_tag "jquery/jquery.fileTree"  %>
<%= javascript_include_tag 'jquery/jquery.jeditable'  %>
<%= javascript_include_tag "shared/image_select" %>
<%= javascript_include_tag 'views/audio_record' %>

<%= stylesheet_link_tag 'jquery.ui'  %>
<%= stylesheet_link_tag 'views/audio_record'  %>
<%= stylesheet_link_tag 'jqueryFileTree'  %>
<%= stylesheet_link_tag 'shared/image_select' %>


<div class="content">


<h3><%= @mission.attributes["name"] %></h3>

Initial image: <br />
<%
@initial_image = "/images/empty.gif"
@initial_image = "/projects/" + @project.id.to_s + "/" + @mission.attributes["initial_image"].to_s unless @mission.attributes["initial_image"].nil?
%>
<img id="initialImage" src="<%= @initial_image %>" /> <br />
<input type="button" value="Change Image" id="buttonChangeImage" />

<br />
<br />
<div id="labelTaskDescription">Description of the task:</div>
<div id="editTaskDescription"><%= @mission.attributes['taskdescription'] %></div>

<div id="labelButtonText" class="title-as-tooltip" title="Text which is on the buton which starts the recording">Text of the button:</div>
<div id="editButtonText"><%= @mission.attributes['buttontext'] %></div>

<div id="labelUploadUrl" class="title-as-tooltip" title="Url to which the recording is uploaded. If the field is empty, it will be uploaded to the GeoQuest default uploading site.">Upload Url:</div>
<div id="editUploadUrl"><%= @mission.attributes['uploadUrl'] %></div>

</div>
