<%= javascript_include_tag "jquery/jquery"  %>
<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
<%= javascript_include_tag "commands/command" %>
<%= javascript_include_tag "commands/hotspots" %>
<%= javascript_include_tag "commands/missions" %>
<%= javascript_include_tag "views/map_overview"  %>


<%= render 'shared/header' %>

<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>

<div class="content">
  <div id="map_canvas" style="width:400pt; height:300pt"></div>
  <br />
  <input type="button" value="Add Hotspot" onclick="createNewHotspot()" />
  <input type="button" value="Delete Hotspot" onclick="deleteHotspot()" />
  <br />
  <select id="subMissionType" name="subMissionType">
    <option value="MapOverview">Map Overview</option>
    <option value="NPCTalk">NPC Talk</option>
    <option value="QuestionAndAnswer">Question and Answer</option>
  </select>
  <input type="button" value="Untermission hinzufügen" onclick="addSubmission()" />
</div>


<script language="javascript">
function addHotspotMarker() {

  <% @hotspots.each do |hotspot| %>
  addMarker(<%= hotspot.attributes["latitude"] %>, <%= hotspot.attributes["longitude"] %> , "<%= hotspot.attributes["id"] %>");
  <% end  %>
}

</script>


<script language="javascript">
  var project_id = "<%= params[:project_id] %>";
  var mission_id = "<%= @mission.attributes['id'] %>";
</script>




