<script language="javascript" type="text/javascript">
var mission_id = "<%= @mission.attributes['id'] %>";
var project_id = "<%= @project.id %>";
</script>

<%= javascript_include_tag "jquery/jquery.ui"  %>
<%= javascript_include_tag "jquery/jquery.fileTree"  %>
<%= javascript_include_tag "commands/command" %>
<%= javascript_include_tag "commands/npctalk" %>
<%= javascript_include_tag 'shared/image_select' %>
<%= javascript_include_tag 'views/npc_talk' %>

<%= stylesheet_link_tag 'jquery.ui'  %>
<%= stylesheet_link_tag 'jqueryFileTree'  %>
<%= stylesheet_link_tag 'shared/image_select' %>
<%= stylesheet_link_tag 'views/npc_talk' %>

<%= render 'shared/header' %>

<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>


<div class="content">

  <h3><%= @mission.attributes["name"] %></h3>

 Image of the character: <br />

 <img id="charImage" alt="" src="/projects/<%= @project.id%>/<%= @mission.attributes['charimage'] %>" />
 <br /><input type="button" value="Change image" id="changeCharacterImageButton" />

 <br />

   <table id="npcTalkTable" class="npcTalkTable">
     <tr class="npcTalkHeader">
       <td> Speaker </td>
       <td> Text </td>
       <td> </td>
     </tr>
     <% @dialogitems.each do |dialogitem| %>
     <tr class="npcTalkRow">
       <td class="npcTalkCell npcTalkSpeakerCell"> <%= dialogitem.attributes['speaker'] %> </td>
       <td class="npcTalkCell"> <%= dialogitem.text %> </td>
       <td class="npcTalkCell"> 
         <input type="image" src="/images/delete.png" value="X" onclick="deleteDialogEntry(this)" />
       </td>
       <td class="npcTalkCell">
         <input type="image" src="/images/up.png" value="^" onclick="moveRowUp(this)" />
       </td>
       <td class="npcTalkCell">
         <input type="image" src="/images/down.png" value="v" onclick="moveRowDown(this)" />
       </td>
     </tr>
     <% end %>

     <tr>
       <td class="npcTalkSpeakerCell">
         <input type="text" id="speaker" value="" size="10" />
       </td>
       <td>
         <textarea id="text" cols="60" rows="4"  style="width: 100%"></textarea> <br />
         <input type="button" value="Add dialog item" onclick="addDialogEntry()"/>
       </td>
       <td></td>
     </tr>

   </table>

</div>


