<%= render 'shared/header' %>

<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>

<div class="content">
   NPC Talk Mission :) <br />

   <table>
     <tr>
       <td> Sprecher </td>
       <td> Text </td>
     </tr>
     <% @dialogitems.each do |dialogitem| %>
     <tr>
       <td> <%= dialogitem.attributes['speaker'] %> </td>
       <td> <%= dialogitem.text %> </td>
     </tr>
     <% end %>
   </table>

</div>


