<%= render 'shared/header' %>

<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>

<%= javascript_include_tag "jquery-1.5.2"  %>
<%= javascript_include_tag "commands/command" %>
<%= javascript_include_tag "commands/question_and_answer" %>
<%= javascript_include_tag "views/question_and_answer" %>

<!-- TODO:
questions="3"
correctAnswersNeeded="0"
-->

<script language="javascript" type="text/javascript">
var mission_id = "<%= @mission.attributes['id'] %>";
var project_id = "<%= @project.id %>";
</script>


Shuffle Questions:
<input type="checkbox" <%=
 if @mission.attributes['shuffle'] == "true"
   "checked"
 end
%> id="shuffle"/> <br />

<%
@introNode = XPath.first(@mission, "./intro")
@intro = @introNode.text unless @introNode.nil?

@outroSuccessNode = XPath.first(@mission, "./outroSuccess")
@outroSuccess = @outroSuccessNode.text unless @outroSuccessNode.nil?

@outroFailNode = XPath.first(@mission, "./outroFail")
@outroFail = @outroFailNode.text unless @outroFailNode.nil?

%>

<table>
  <tr>
    <td>Intro</td>
 <% if @introNode.nil? %>
    <td id="introPlace">  <input type="button" value="Add Intro" onclick="addIntro()" /> </td>
    <td id="introButtonPlace"></td>
 <% else %>
    <td id="introPlace">
        <textarea cols="30" rows="3"  id="intro"><%= @intro %></textarea>
    </td>
    <td id="introButtonPlace">
      <input type="button" value="Intro aktualisieren" onclick="updateIntro()"/> <br />
      <input type="button" value="Intro löschen" onclick="deleteIntro()" />
    </td>
 <% end %>
</tr>


  <tr>
    <td>Outro (Success)</td>
 <% if @outroSuccessNode.nil? %>
    <td id="outroSuccessPlace">  <input type="button" value="Add Outro (Success)" onclick="addOutroSuccess()" /> </td>
    <td id="outroSuccessButtonPlace"></td>
 <% else %>
    <td id="outroSuccessPlace">
        <textarea cols="30" rows="3"  id="outroSuccess"><%= @outroSuccess %></textarea>
    </td>
    <td id="outroSuccessButtonPlace">
      <input type="button" value="Outro (Success) aktualisieren" onclick="updateOutroSuccess()"/><br />
      <input type="button" value="Outro (Success) löschen" onclick="deleteOutroSuccess()" />
    </td>
 <% end %>
</tr>



  <tr>
    <td>Outro (Fail)</td>
 <% if @outroFailNode.nil? %>
    <td id="outroFailPlace">  <input type="button" value="Add Outro (Fail)" onclick="addOutroFail()" /> </td>
    <td id="outroFailButtonPlace"></td>
 <% else %>
    <td id="outroFailPlace">
        <textarea cols="30" rows="3"  id="outroFail"><%= @outroFail %></textarea>
    </td>
    <td id="outroFailButtonPlace">
      <input type="button" value="Outro (Fail) aktualisieren" onclick="updateOutroFail()"/><br />
      <input type="button" value="Outro (Fail) löschen" onclick="deleteOutroFail()" />
    </td>
 <% end %>
</tr>



</table>

<h3>Fragen</h3>

<% @questions.each do |question| %>
<textarea cols="30" rows="4">
<%= XPath.first(question, "./questiontext").text %>
</textarea> <br />

<table>
  <tr><td>Antwort</td><td>Reaktion</td></tr>
<% XPath.each(question, "./answer") do |answer| %>
  <tr>
    <td>
      <textarea cols="30" rows="4"><%= answer.text %></textarea>
    </td>
    <td>
      <textarea cols="30" rows="4"><%= answer.attributes['onChoose'] %></textarea>
    </td>
  </tr>
<% end %>
</table>
<hr />
<% end %>