<div class="header">
<h1 id="caption">
  Profile
</h1>
</div>
<%= render 'shared/mission_navigation' %>
<%= render 'shared/editor_control' %>

<%= stylesheet_link_tag 'jquery.ui'  %>

<%= javascript_include_tag 'jquery/jquery.ui'  %>
<%= javascript_include_tag 'jquery/jquery.jeditable'  %>
<%= javascript_include_tag 'views/profile.js'  %>


<div class="content">
  <br />
  <div class="label">Name:</div> <div id="editName" class="edit title-as-tooltip" title="Your name. Click to edit"><%= @current_user.name %></div> <br />
  <div class="label">Email:</div> <div id="editEmail" class="edit title-as-tooltip" title="Your email. Click to edit"><%= @current_user.email %> </div><br />
  <br />
  <b>Update password:</b> <br/>
  <p id="passwordChangeResult"></p>
  <table>
  <tr>
    <td>New password:</td>
    <td><input type="password" id="editPassword" /> </td>
  </tr>
  <tr>
    <td>Confirm new password: </td>
    <td><input type="password" id="confirmNewPassword" /> </td>
  </tr>
  </table>
  <input type="button" id="updatePasswordButton" value="Update password" />
</div>