<!DOCTYPE html>
<html>
<head>
  <title>GeoquestEditor</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'editor' %>
</head>
<body>
<%= flash[:alert] %>

<%= javascript_include_tag 'jquery/jquery'  %>
<%= javascript_include_tag 'jquery/jquery.qtip'  %>
<%= javascript_include_tag 'shared/application'  %>


<%= yield %>

</body>
</html>
